In [62]:
import sqlite3
conn = sqlite3.connect('TestDB2.db')  
c = conn.cursor()
import pandas as pd

In [64]:
request = """
create TABLE table1(field1 int,field2 int,field3 int) 
"""
c.execute(request)

In [74]:
request = """
INSERT INTO table1(field1,field2,field3) 
  WITH RECURSIVE
    cte(x,y,z) AS (
       SELECT abs(random() % 11),abs(random() % 11),abs(random() % 11)
       UNION ALL
       SELECT abs(random() % 11),abs(random() % 11),abs(random() % 11)
         FROM cte
        LIMIT 1000
  )
SELECT x,y,z FROM cte;
"""
c.execute(request)

In [75]:
request2 = """
select * from table1
"""
df = pd.read_sql_query(request2, conn)

In [76]:
df

      field1  field2  field3
0          5       7       3
1          0       5       1
2          8       6       7
3          2       4       2
4          3       1       6
...      ...     ...     ...
1995       3       5       6
1996       4       4       1
1997      10       0       8
1998       2       3       5
1999       2      10       8

[2000 rows x 3 columns]